.slider {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 60px;

  width: 1200px;
  height: 800px;


  align-items: center;

  overflow: hidden;
}

.slider_photos {
  z-index: 0;

  display: flex;

  transition: transform 1s ease;
}

.slider_photo {
  width: auto;
  height: auto;

  transition: opacity 0.5s ease;
}

.slider_button {
  position: absolute;

  z-index: 1;

  width: 10%;
  height: 100%;

  font-size: 40px;
  color: #fdfff5;

  border: none;
  background: none;

  transition: background-color 0.5s ease;
}

.slider_button:hover {
  background-color: #00000086;
}

.slider_button_left {
  right: 90%;
}

.slider_button_right {
  left: 90%;
}
