.advantages_section {
  max-width: 1200px;

  width: 1200px;

  padding: 30px 80px;
  margin-bottom: 70px;

  background-color: #cecece31;
  box-shadow: 5px 5px 4px 2px #c7c7c7;
}

.advantages_text{
  display: flex;

  flex-direction: column;

  align-items: center;

  margin-bottom: 25px;
}

.advantages_title{
  font-size: 42px;
  color: #000000;
}

.advantages_icons_and_description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
}

.advantage {
  display: flex;
  position: relative;
  align-items: center;

  max-width: 420px;
}

.advantage_circle{
  display: flex;
  width: 76px;
  height: 76px;
  

  border: #85ce85 2px solid;
  border-radius: 100%;
  margin-right: 50px;
}

.advantage_icon{
  box-sizing: content-box;
  
  padding: 10px;
}

.advantage_description {
  color: #000000;
}



@media (max-width: 1230px) {
  .advantages_section {
    width: 1000px;
  }
}


@media (max-width: 1130px) {
  .advantages_section {
    width: 900px;
  }
}

@media (max-width: 950px) {
  .advantages_section {
    width: 700px;
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .advantages_section {
    width: 100%;
    padding: 35px;
  }

  .advantage_icon{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .advantages_icons_and_description {
    gap: 20px;
  }
  .advantage_circle{
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 0;
    margin-right: 10px;
  }

  .advantages_title{
    font-size: 32px;
  }

  .advantage_description{
    font-size: 22px;
  }
}