.booking_button {
    width: 230px;
    height: 50px;
  
    color: #fdfff5;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
  
    background-color: #85ce85;
    border: #85ce85 solid;
  
    transition: background-color 0.5s ease;
  }
  
  .booking_button:hover {
    cursor: pointer;
  
    background-color: #85ce8500;
  }