.navigation{
    align-self: center;
    
    margin-right: 20px;

}

.navigation_link{

    transition: color 0.3s ease;
}

.navigation_link:not(:last-child){
    margin-right: 25px;
}

.navigation_link:hover{
    color: #c9cac2;
}